body {
    text-align: center;
} 

#principal {
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    /*background-color: #dddddd;*/

    border-radius: 20px;
    box-shadow: rgb(150, 150, 150) 5px 5px;
    background: -webkit-linear-gradient(right,#fff,#08e699);
    background: -moz-linear-gradient(right,#fff,#08e699);

    /*outline: 2px dashed #80d899;
    outline-offset: -15px;*/

    /*transform: scale(1,-1);*/
    /*transform: rotate(30deg);*/
    /*transform: skew(20deg)*/
    /*transform: translate(100px);*/
    /*transform: translateY(100px) rotate(45deg) scaleX(0.3);*/
    transition: transform 2s ease-in-out 0.2s;

}

#principal:hover{
transform: rotate(5deg);

}

#titulo {
    font: bold 36px Fuente1, sans-serif;
    text-shadow: rgba(0, 8, 8, 0.2) 3px 3px 5px;
}

@font-face {
    font-family: "Fuente1";
    src: url("./BebasNeue\ Bold.ttf")

}

